@model IEnumerable<TaskDto>
<br />
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">Task List</h1>
		</div>
		<div class="col text-end pt-1">
			<a asp-controller="Task" asp-action="CreateTask" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i>Create New Task</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Title
				</th>
				<th>
					Description
				</th>
				<th>
					Category
				</th>
				<th>
					CreatedAt
				</th>
				<th>
					IsCompleted
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				int counter = 1;
			}
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@* @item.Id *@
						@counter
					</td>
					<td>
						@item.Title
					</td>
					<td>
						@item.Description
					</td>
					<td>
						@item.Category?.Name  
					</td>
					<td>
						@item.CreatedAt
					</td>
					<td>
						@item.IsCompleted
					</td>
					<td>
						<a asp-controller="Task" asp-action="UpdateTask" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i>Edit</a>
						<a asp-controller="Task" asp-action="DeleteTask" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
					</td>
					
				</tr>
				counter++;
			}
		</tbody>
	</table>
</div>